/* Ensure the existing styles remain intact */
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px);
}

.content {
    width: 100%;
    padding: 30px;
    background-color: #2c2c2c;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex; /* Use flex layout to position panels side by side */
    gap: 20px; /* Space between panels */
}

.content h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: left;
}

.content p {
    justify-content: center;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Styles for the password generator form */
.left-panel, .right-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1; 
}


.common-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-top: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}

textarea {
    height: 100px;
    resize: none;
}

#generatedPasswordContainer h3{
    padding-bottom: 10px;
}

#reset-button{
    margin: 10px 5px 10px 150px;  
}

#password-strength{
    margin-top: 8px;
}


.generate-button, .reset-button, .save-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #f04e23;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#generate-button, #reset-button, #save-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #f04e23;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#generate-button:hover {
    background-color: #e03d16;
}

#reset-button:hover {
    background-color: #e03d16;
}
#save-button:hover {
    background-color: #e03d16;
}

#generate-options {
    display: block;
}


/* Hide default radio button appearance */
input[type="radio"] {
    appearance: none; 
    -webkit-appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 12px;
    height:12px;
    position: relative;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

input[type="radio"]:checked {
    border-color: #ffffff; 
}

/* Custom radio button indicator */
input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #e03d16; /* Color of the selected state */
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


/* Remove the up and down arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    marg