{% extends "base.html" %}
{% block title %}Password Generator{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generate-password.css') }}">
{% endblock %}

{% block content %}
            <div class="left-panel">
                <div class="common-fields">
                    <label for="app-name">App Name:</label>
                    <input type="text" id="app-name" required>

                    <label for="username">Username:</label>
                    <input type="text" id="username" required>

                    <label>
                        <input type="radio" name="password-option" value="generate" checked>
                        Generate New Password
                    </label>
                    <label>
                        <input type="radio" name="password-option" value="enter">
                        Enter Existing Password
                    </label>

                    <div id="generate-options">
                        <label for="password-length">Password Length:</label>
                        <input type="number" id="password-length" min="8" max="128" required>
                        <button id="generate-button">Generate Password</button>
                    </div>
                </div>
            </div>
                
            <div class="right-panel">
                <div id="generatedPasswordContainer">
                    <h3>Generated Password</h3>
                    <textarea id="generated-password" readonly></textarea>
                    <div id="password-strength"></div>
                    <button id="reset-button">Reset</button>
                    <button id="save-button">Save</button>
                </div>
            </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/generate-password.js') }}" defer></script>
{% endblock %}
